.env
*lock.json
node_modules
.venv
.idea
.vscode
.logfire
sampledata
sampledata/
sampledata/*
__pycache__
__pycache__/*
__used_dbs__
__used_dbs__/*
*.log
dist
dist/
dist/*
logs
logs/
logs/*
balances.json
walletbalance.json